@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #2c3136;
    color: #FFF;
    border-style: none;
}

h1 {
    font-size: 60px;
    padding-top: 100px;
}
.main-title {
    font-size: 80px;
}
i {
    margin: 0 10px;
}
p {
    font-size: 24px;
}

.login-container {
    width: 500px;
    margin: 0 auto;
}
.login-container .item {
   margin: 50px;
}
.login-container input[type="text"] {
    width: 250px;
}
.login-container .underline {
    height: 3px;
    width: 300px;

    margin: 10px auto;
    background-color: #778da9;
}
button{
    background-color: #778da9;
    width: 300px;
    height: 40px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
}
button:hover {
    background-color: #45556b;
    transition: all 0.3s ease;
}

.welcome-main h1 {
    font-size: 50px;
}

.playlist-container button, .data-container button{ 
    margin-top: 0;
    width: 100px;
}

.playlist-container, .data-container {
    display: grid;
    grid-template-columns: 150px 150px;
}